@charset "utf-8";


h1 {
	font-size: 100px;
	text-align: center;
	margin-bottom: 40px;
}


.spSlider {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: center;
}

.sliderIcon {
	display: flex;
	gap: 40px;
	width: 375px;
	height: 20px;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 200px;
}

.frame {
	width: 297px;
	height: 495px;
}

.pcSlider {
	display: flex;
	gap: 30px;
	justify-content: center;
	margin-bottom: 20px;
}

.pcFrame {
	width: 297px;
	height: 495px;
}