@charset "utf-8";
html {
    scroll-behavior: smooth;
}

body {
    font-family:'Zen Kaku Gothic New';
    font-size: 16px;
    margin: 0;
}
header {
    background: url(../images/shati.jpg);
    height: 650px;
    background-size: cover;/* 画像を要素サイズに合わせて拡大縮小 */
    background-position: center;/* 画像の中心を合わせる */
    background-repeat: no-repeat;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    padding-top: 500px;
    filter: drop-shadow(2px 2px 0px #d81798); /* 外側の縁の色 */
    text-shadow: 
        2px 2px 0 #4a76a8,
        -2px 2px 0 #4a76a8,
        2px -2px 0 #4a76a8,
        -2px -2px 0 #4a76a8,
        0px 2px 0 #4a76a8,
        0px -2px 0 #4a76a8,
        2px 0px 0 #4a76a8,
        -2px 0px 0 #4a76a8; /* 文字に太い縁取り。上下左右＋斜め 8方向 に影を出している */
}
h2 {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    background-image: url(../images/uni.png);
    background-repeat: no-repeat;
    padding: 20px 10px 20px 48px;
    background-size: 36px 36px;      /* ★ 画像を縮小 */
    background-position: left center; /* ★ 左＋縦中央 */
    margin-bottom: 24px;
}

.worksUl {
    background-color: aqua;
    display: block;
}

/* トップへ戻るボタン */
.toTopIcon {
        position: fixed; 
        right: 20px; 
        bottom: 20px; 
        z-index: 999;  
        transform: none; /* モバイル版の変な横ズレをリセット */
}

/*ローディング*/
.loading {
  width: 100%;
  height: 100vh;
  background-color: #007AB7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading.hide {
  opacity: 0;
  pointer-events: none;
}

.loadingLogo {
  width: 287px;
  height: auto;
  animation: blink 3.5s infinite;
}

.loading p {
  margin-top: 16px;
  color: #fff;
  font-size: 24px;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.1; }
  100% { opacity: 1; }
}

/* ハンバーガー */
.hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-size: 36px;      /* 大きくする */
    font-weight: 900;     /* 太くする */
    color: black;          /* グレー */
    background: #f2f2f2;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 100;
}
/* ドロワー本体 */
#drawer {
    position: fixed;
    top: 0;
    right: -250px;       /* 最初は画面外 */
    width: 250px;
    height: 100%;
    background: rgb(226, 146, 173);
    color: #fff;
    transition: right 0.3s;
    z-index: 200;
    padding: 20px;
}
/* 表示状態 */
#drawer.show {
    right: 0;
}
/* 閉じるボタン */
.close {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
}

/* メニュー */
#drawer ul {
    list-style: none;
    padding: 0;
}


#drawer a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.itemA {
    font-size: 30px;
    font-weight: bold;
}

.formItem {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
input,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px auto;
    text-align: center;
     
}

button:hover {
    opacity: 0.8;
}
/* ===== 送信完了メッセージ ===== */
.thanks {
    display: none;
    margin-top: 30px;
    padding: 16px;
    background: #f2f2f2;
    border-left: 5px solid #999;
}

.footer {
    margin-top: 80px;
    padding: 30px 20px;
    text-align: center;
    background: blue;
    color: #fff;
}
.footer-name {
    font-size: 14px;
    margin-bottom: 6px;
}

.footer-text {
    font-size: 12px;
   
}


section a {
    font-weight: bold;
}
.seisakubutu a {
    text-decoration: underline;
    display: block;
    text-align: center;
    background-color: mediumaquamarine;
    width: 100px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 0;
}
.seisakubutu2 a {
    text-decoration: underline;
    display: block;
    text-align: center;
    background-color: mediumaquamarine;
    width: 100px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 0;
}


.seisakubutu ul {
    width: 220px;
    margin-top: 20px;
}

.seisakubutu2 ul {
    width: 220px;
    margin-top: 20px;
}

.seisakubutu3 {
    margin: 40px 0 ;
}

.contactText {
    margin: 30px 0 ;
}

.sectionP1,
.sectionP2,
.sectionP3 {
    margin: 20px 0;
}
.sectionP4 {
    margin: 40px 0;
}
/* 見出しの先頭にアイコンをつけるP136 */

/*   PC用のメディアクエリ 画面幅768px以上に適用させるp198 p256*/
@media screen and (min-width: 768px) {
    /* ハンバーガーメニューの消去 */
    .hamburger {
        display: none;
    }
    /* ドロワー　PC版*/

    #drawer {
        display: block;
        width: auto;
        height: 64px; 
        background-color: rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0px;
        left: 0;
        right: 0px;
        
    }
    .drawerLi {
        display: flex;
        justify-content: space-evenly;
        font-size: 24px;
        gap: 50px;
        align-items: center;   /* ← ★縦中央はこれ */
        height: 100%;          /* ← ★親(#drawer)の高さを使う */
        
        
    }
    #closeNav {
    display: none;
    }

    .drawerLi .itemA {
        display: none;
    }

    
}